<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body id="index">

  <nav class="navbar navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand text-beige" href="#">My food</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-beige" href="#first">Storages</a>
          <a class="nav-link active text-beige" href="#second">All food</a>
          <a class="nav-link active text-beige" href="#third">Recipes</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="index-section" id="first">
    <h1>My food storage</h1>
    <div class="index-description">
      <p>Hey, welcome to my food storage app! By clicking on each storage type, you can see what it contains.</p>
      <p>If you want to see the list of all consumables, scroll down to the next section. There, you can also add new
        consumables or upgrade their quantity.</p>
      <p>Scroll down to the last section to get some inspiration for possible recipes!</p>
    </div>
    <main class="main">
      <a href="/fridge" class="storage-a">
        <picture>
          <img src="/images/fridge.svg" alt="fridge">
        </picture>
      </a>
      <a href="/freezer" class="storage-a">
        <picture>
          <img src="/images/freezer.svg" alt="freezer">
        </picture>
      </a>
      <a href="/cupboard" class="storage-a">
        <picture>
          <img src="/images/cupboard.svg" alt="kitchen cupboard">
        </picture>
      </a>
    </main>
  </section>

    <section class="index-section second" id="second">
      <h2>All consumables</h2>
      <ul class="list-group">
        <li class="list-group-item list-header">
          <div class="consumable-row">
            <p class="consumable-col">Name</p>
            <p class="consumable-col">Quantity</p>
            <p class="consumable-col">Expiration</p>
          </div>
        </li>
        <!-- consumables appear here -->
        <% for (consumable of consumables) { %>
          <% const today = new Date(); %>
          <li data-consumable-id="<%= consumable.id %>" class="list-group-item consumable" 
            data-expiration="<%= consumable.expirationDate ? consumable.expirationDate : undefined %>"
            data-expiring-soon="<%= consumable.expirationDate ? consumable.expiring_soon : undefined %>">
            <div class="consumable-row">
              <p class="consumable-col consumable-name">
                <%= consumable.name %>
              </p>
              <p class="consumable-col consumable-quantity">
                <%= consumable.quantity ? String(consumable.quantity) : 0 %>
                  <%= consumable.unit %>
              </p>
              <p class="consumable-col consumable-expirationDate">
                <%= consumable.expirationDate ? consumable.date_formatted : "undefined" %>
              </p>
            </div>
            <% if (update && consumable.id==consumableIdClicked) { %>
              <form class="row update" method="POST">
                <input class="form-control" type="number" name="updateQuantity" id="updateQuantity">
                <label for="update-quantity">update quantity</label>
                <button class="btn btn-primary" type="submit">update</a>
              </form>
              <% } else { %>
                <a class="btn btn-outline-secondary btn-update" href="<%= `/update/${consumable.id}#second` %>"
                  data-consumable-id="<%= consumable.id %>">update</a>
                <% } %>
            <button data-doc="<%= consumable.id %>" class="trashcan"></button>
          </li>
          <% } %>
      </ul>

      <h2>Add new consumable</h1>
      <form class="row row-cols-lg-auto g-3 align-items-center" method="post">
      
        <div class="col-12">
          <input class="form-control" type="text" name="name" placeholder="name" id="name" required>
          <label class="visually-hidden" for="name">name</label>
        </div>
      
        <div class="col-12">
          <input class="form-control" type="number" name="quantity" placeholder="quantity" id="quantity" required>
          <label class="visually-hidden" for="quantity">quantity</label>
        </div>

        <div class="col-12">
          <select class="form-select" name="unit" required>
            <option value="g">g</option>
            <option value="ml">ml</option>
            <option value="piece">piece</option>
          </select>
        </div>

        <div class="col-12">
          <input class="form-control" type="date" name="expirationDate" placeholder="expiration date" id="expirationDate">
          <label class="visually-hidden" for="expirationDate">expiration date</label>
        </div>  
      
        <div class="col-12">
          <div>
            <div class="form-check">
              <label class="form-check-label label-checkbox" for="freezed">freezed</label>
              <input class="form-check-input" type="checkbox" name="freezed" id="freezed">
            </div>
            <div class="form-check">
              <label class="form-check-label label-checkbox" for="chilled">chilled</label>
              <input class="form-check-input" type="checkbox" name="chilled" id="chilled">
            </div>
          </div>
        </div>
      
        <div class="col-12">
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
      
      </form>

    </section>

    <section class="index-section third" id="third">
      <h2>Recipes</h2>
      <div class="recipe-container">
        <% for (recipe of recipes) { %>
          <a class="card recipe" href="/<%= recipe.id %>" style="width: 18rem;">
            <img src="<%= recipe.image %>" class="card-img-top" alt="recipe image">
            <div class="card-body">
                <p class="card-text">
                  <%= recipe.title %>
                    <span class="recipe-usedIngredient">
                      <%= recipe.usedIngredientCount %>
                    </span> /
                    <span class="recipe-missedIngredient">
                      <%= recipe.missedIngredientCount %>
                    </span>
                </p>
            </div>
          </a>
          <% } %>
        </div>
    </section>

<script>
  //deleting consumables
  const trashcans = document.querySelectorAll(".trashcan");

  trashcans.forEach(trashcan => {
    trashcan.addEventListener("click", (e) => {
      console.log(e.target.dataset.doc);
      const endpoint = `/${e.target.dataset.doc}`;

      fetch(endpoint, {
        method: "DELETE"
      })
        // .then((response) => response.json()) // Return the response
        .then((data) => {
          console.log(data);
          window.location.href = "/";
          if (data.success) {
            // Find the parent <li> element and remove it from the DOM
            const consumableElement = e.target.closest("li");
            if (consumableElement) {
              consumableElement.remove();
            }
          }
        })
        .catch(err => console.log(err));
    });

  });

  //changing color of expiring consumables
  const consumables = document.querySelectorAll(".consumable");

  consumables.forEach(consumable => {
    const expirationDate = consumable.dataset.expiration;
    const expiringSoon = consumable.dataset.expiringSoon;
    const today = new Date();
    const expirationDateObj = new Date(expirationDate);
    const daysLeft = Math.floor((expirationDateObj - today) / (1000 * 60 * 60 * 24));

    if (expirationDate) {
      if (daysLeft < 0) {
        consumable.classList.add("list-group-item-danger");
      } else if (daysLeft < 3) {
        consumable.classList.add("list-group-item-warning");
      }
    }
  });

</script>
</body>
</html>