<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body id="index">

  <nav class="navbar navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">My food</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-light" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-light" href="#first">Storages</a>
          <a class="nav-link active text-light" href="#second">All food</a>
          <a class="nav-link active text-light" href="#third">Recipes</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="index-section" id="first">
    <h1>My food storage</h1>
    <main class="main">
      <a href="/fridge" class="storage-a">
        <picture>
          <img src="/images/fridge.svg" alt="fridge">
        </picture>
      </a>
      <a href="/freezer" class="storage-a">
        <picture>
          <img src="/images/freezer.svg" alt="freezer">
        </picture>
      </a>
      <a href="/cupboard" class="storage-a">
        <picture>
          <img src="/images/cupboard.svg" alt="kitchen cupboard">
        </picture>
      </a>
    </main>
  </section>

    <section class="index-section second" id="second">
      <h2>All consumables</h2>
      <ul class="list-group">
        <!-- consumables appear here -->
        <% for (consumable of consumables) { %>
          <li data-consumable-id="<%= consumable.id %>" class="list-group-item">
            <a href="/consumables/<%= consumable.id %>">
              <p class="consumable-name">
                <%= consumable.name %>
              </p>
              <p class="consumable-quantity">
                <%= consumable.quantity ? String(consumable.quantity) : 0 %>
                  <%= consumable.unit %>
              </p>
            </a>
            <button data-doc="<%= consumable.id %>" class="trashcan"></button>
          </li>
          <% } %>
      </ul>

      <h2>Add new consumable</h1>
      <form class="row row-cols-lg-auto g-3 align-items-center" method="post">
      
        <div class="col-12">
          <input class="form-control" type="text" name="name" placeholder="name" id="name" required>
          <label class="visually-hidden" for="name">name</label>
        </div>
      
        <div class="col-12">
          <input class="form-control" type="number" name="quantity" placeholder="quantity" id="quantity" required>
          <label class="visually-hidden" for="quantity">quantity</label>
        </div>
      
        <div class="col-12">
          <select class="form-select" name="unit" required>
            <option value="g">g</option>
            <option value="ml">ml</option>
            <option value="piece">piece</option>
          </select>
        </div>
      
        <div class="col-12">
          <!-- clear this if you dont want to have it in a column -->
          <div>
            <div class="form-check">
              <label class="form-check-label" for="freezed">freezed</label>
              <input class="form-check-input" type="checkbox" name="freezed" id="freezed">
            </div>
            <div class="form-check">
              <label class="form-check-label" for="chilled">chilled</label>
              <input class="form-check-input" type="checkbox" name="chilled" id="chilled">
            </div>
          </div>
        </div>
      
        <div class="col-12">
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
      
      </form>

    </section>

    <section class="index-section third" id="third">
      <h2>Recipes</h2>
      <div class="recipe-container">
        <% for (recipe of recipes) { %>
          <div class="card" style="width: 18rem;">
            <img src="<%= recipe.image %>" class="card-img-top" alt="recipe image">
            <div class="card-body">
              <a class="card-text" href="/<%= recipe.id %>">
                <p class="recipe-name">
                  <%= recipe.title %>
                    <span class="recipe-usedIngredient">
                      <%= recipe.usedIngredientCount %>
                    </span> /
                    <span class="recipe-missedIngredient">
                      <%= recipe.missedIngredientCount %>
                    </span>
                </p>
              </a>
            </div>
          </div>
          <% } %>
        </div>
    </section>

<script>
  const trashcans = document.querySelectorAll(".trashcan");

  trashcans.forEach(trashcan => {
    trashcan.addEventListener("click", (e) => {
      console.log(e.target.dataset.doc);
      const endpoint = `/${e.target.dataset.doc}`;

      fetch(endpoint, {
        method: "DELETE"
      })
        // .then((response) => response.json()) // Return the response
        .then((data) => {
          console.log(data);
          window.location.href = "/";
          if (data.success) {
            // Find the parent <li> element and remove it from the DOM
            const consumableElement = e.target.closest("li");
            if (consumableElement) {
              consumableElement.remove();
            }
          }
        })
        .catch(err => console.log(err));
    });

  });
</script>

  </body>

</html>
